
<!DOCTYPE html>
<html>
<head>
    <title>Vuejs Tutorial</title>
</head>
<style>
    .data{
        color:red;
        text-transform: uppercase;
    }
</style>
<body>


<!--Through Vue js-->
<div id="app">
    <template>
        <!--Mapping an Array to Elements with v-for-->
        <ul>
            <li v-for="(item,index) in items" v-bind:class="colourcode"> {{item}} </li>
        </ul>
    </template>
</div>

<div id="root">
    <template>
        <!--Mapping an Array to Elements with v-for-->
        <ul>
            <li v-for="(value,index) in studentName" v-bind:title="value.name">{{ index}} - {{value.name}} </li>
        </ul>
    </template>
</div>

<div id="obj">
    <template>
        <!--Mapping an Object to Elements with v-for-->
        <ul>
            <li v-for="(value,key) in object" v-bind:title="value">  {{ key}} : {{value}}  </li>
        </ul>
    </template>
</div>

<div id="parent">
    <template>
        <!--Mapping an Element with v-on-mouse keyup and enter-->

   <input type="text" id="txt" v-on:keyup.enter="addElement">
        <ul>
            <li v-for="(value,index) in items" v-bind:title="value"> {{index}} -{{value}} </li>
        </ul>
        <!--Mapping an Element with v-on-click-prevent-->

    <a href="https://google.com" v-on:click.prevent="checkHref">Click Me</a>

    </template>
</div>



<script src="vue.js"></script>
<script>
 var app = new Vue({
     el:"#app",
     data:{
         colourcode:'data',
         items:['Avinash','Rajesh','Dharmesh','Bipul']
     }
 });
 var root = new Vue({
     el:"#root",
     data:{
         studentName:[
             {name:'Avinash'},
             {name:'Rajesh'},
             {name:'Dharmesh'},
             {name:'Bipul'}
             ]
     }
 });

 var obj = new Vue({
     el:"#obj",
     data:{
         object:{
             firstName:'Avinash',
             lastName:"Keshri",
             fullName:"Avinash Keshri"
         }
     }
 });

 var parent = new Vue({
     el:"#parent",
     data:{
         items:['Avinash','Rajesh','Dharmesh','Bipul']
     },
     methods:{
         addElement:function(){
            var name =document.getElementById('txt');
             this.items.push(name.value);
             name.value='';
         },
         checkHref:function(event){
             console.log(event.srcElement.href);
         }
     }
 });
</script>

</body>
</html>