<!DOCTYPE html>
<html>
<head>
    <title>Vuejs Tutorial</title>
</head>
<style>
    #srecord{
        max-width:480px;
        margin:auto;
    }
    #form{
        width:100%;
    }
    #form input,#form textarea ,#form button{
        width:100%;
        display:block;
    }

</style>
<body>

<div id="app">
    <template>
      <div id="srecord">
          <div id="form">
              <h2>Add Record</h2>
              <input type="text" v-model="title" id="title">
              <textarea rows="5" cols="5" v-model="body"></textarea>
               <input type="file" @change="checkFile" id="file">
              <button type="button" @click="savePost">Add Record</button>
          </div>
      </div>
    </template>
</div>

<script src="vue.js"></script>
<script src="axios.min.js"></script>

<script>

    var app =new Vue({
      data:{
        title:'',
        body:'',
        tUrl:"http://vuejs-learning-code/foobar.php",
        uFile:''
      },
      methods:{
        savePost:function(){
          var formData = new FormData();
           formData.append('title',this.title);
           formData.append('body',this.body);
           formData.append('file',this.uFile);
          axios.post(this.tUrl, formData)
              .then(function(response){
                console.log(response.data);
              })
              .catch(function(error){
                console.log(error);
              });
        },
        checkFile:function(e){
          this.uFile=e.target.files[0];

        }
      }
    }).$mount('#app');

</script>
</body>
</html>