<!DOCTYPE html>
<html>
<head>
    <title>Vuejs Tutorial</title>
</head>
<style>

</style>
<body>

<!--Through Vue js-->
<div id="app">
    <input type="text" v-model="title">
    <input type="text" v-model="message">
    <my-components v-bind:name="title" v-bind:message="message">

    </my-components>

</div>


<script src="vue.js"></script>

<!-- Global Registraion -->
<script>

  Vue.component('my-components',{
    template:`
        <div>
          <h1>{{name}}</h1>
          <p>{{message}}</p>
         </div>

    `,
    props:['name','message']

  });

  var app =new Vue({
       data:{
         title:"Welcome to Vue js",
         message:"loreum ipsum dollar sit"
       }
  }).$mount('#app');

</script>

</body>
</html>